:root.theme-dark {
  --button-color: #ff0070;
  --border-button-color: #ff007066;
  --angle-color: #ff0070;
  --after-color: #ff0070;
  --background-image: url(../images/cover-image-dark.png);
  --header__title-color: #db00ff;
  --par-text-color: #000028;
  --text-color: #f1b2ce;
  --rec-color: #ff0070;
  --bg-color: #000028;
}

@media (prefers-color-scheme: dark) {
  :root {
    --button-color: #ff0070;
    --border-button-color: #ff007066;
    --angle-color: #ff0070;
    --after-color: #ff0070;
    --background-image: url(../images/cover-image-dark.png);
    --header__title-color: #db00ff;
    --par-text-color: #000028;
    --text-color: #f1b2ce;
    --rec-color: #ff0070;
    --bg-color: #000028;
  }
}

.theme-dark .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
}
