:root.theme-light {
  --button-color: #353430;
  --border-button-color: #32312d66;
  --angle-color: #ff8dcb;
  --after-color: transparent;
  --background-image: url(../images/cover-image-light.png);
  --header__title-color: #ffc2e6;
  --par-text-color: #353430;
  --text-color: #353430;
  --rec-color: transparent;
  --bg-color: #fff1f7;
}

@media (prefers-color-scheme: light) {
  :root {
    --button-color: #353430;
    --border-button-color: #32312d66;
    --angle-color: #ff8dcb;
    --after-color: transparent;
    --background-image: url(../images/cover-image-light.png);
    --header__title-color: #ffc2e6;
    --par-text-color: #353430;
    --text-color: #353430;
    --rec-color: transparent;
    --bg-color: #fff1f7;
  }
}

.theme-light .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
}
