.page {
  margin: 0 auto;
  font-family: var(--base-font-family);
  font-size: var(--base-font-size);
  font-weight: 400;
  line-height: var(--base-line-height);
  background-color: var(--bg-color);
  background-attachment: fixed;
}

.header {
  position: relative;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content 1fr;
  min-block-size: 100vh;
  padding: 10px;
  background-image: var(--background-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header__theme-menu {
  display: flex;
  justify-content: flex-end;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 13px;
}

.header__theme-menu-button {
  padding: 0 13px;
  border: none;
  font-size: var(--base-font-size);
  color: var(--button-color);
  text-align: center;
  background: transparent;
}

.header__theme-menu-button_active {
  border: 1px solid var(--button-color);
  pointer-events: none;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border: none;
  border-bottom: 1px solid var(--button-color);
  outline: none;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--border-button-color);
}

.header__rec-indicator {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px;
  padding-right: 8px;
  color: var(--rec-color);
  text-align: center;
  text-transform: uppercase;
}

.header__rec-indicator::after {
  display: block;
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  background-color: var(--after-color);
  fill: var(--after-color);
  filter: drop-shadow(0 0 4px var(--after-color));
  content: "";
}

.header_decorated::before,
.footer_decorated::before {
  position: absolute;
  top: 0;
  right: 0;
  inline-size: 25px;
  block-size: 25px;
  margin: 10px;
  border-top: 1px solid var(--button-color);
  border-right: 1px solid var(--button-color);
  content: "";
}

.header_decorated::after,
.footer_decorated::after {
  position: absolute;
  bottom: 0;
  left: 0;
  inline-size: 25px;
  block-size: 25px;
  margin: 10px;
  border-bottom: 1px solid var(--button-color);
  border-left: 1px solid var(--button-color);
  content: "";
}

.header__title {
  margin-left: 0;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  line-height: 0.83;
  color: var(--header__title-color);
  text-shadow: 4px 4px 0 var(--angle-color);
}

.header__description {
  align-self: center;
  justify-self: end;
  max-inline-size: 355px;
  max-block-size: 117px;
  font-size: var(--base-font-size);
  font-weight: 700;
  line-height: var(--base-line-height);
  color: var(--par-text-color);
  background-color: var(--angle-color);
}

.content-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0 10px;
  padding-top: 40px;
}

.content-section__title {
  font-size: var(--base-font-size);
  font-weight: 700;
  line-height: var(--base-line-height);
  color: var(--button-color);
}

.content-section__article {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.content-section__article-title {
  font-size: var(--base-font-size);
  font-weight: 700;
  line-height: var(--base-line-height);
  color: var(--par-text-color);
  background-color: var(--angle-color);
}

.content-section__article-text {
  font-size: var(--base-font-size);
  color: var(--text-color);
}

.content-section__link {
  color: inherit;
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--angle-color);
}

.content-section__link:hover {
  border-bottom: 1px solid var(--text-color);
}

.content-section__link:focus {
  outline: none;
}

.content-section__link:focus-visible {
  border: 1px solid var(--text-color);
}

.content-section_distractions {
  margin-top: 10px;
}

.content-section_advice {
  margin-top: 10px;
}

.content-section_gallery {
  gap: 10px;
  margin-top: 10px;
}

.content-section__article-subtitle {
  margin: 10px 0;
  font-size: var(--base-font-size);
  font-weight: 400;
  line-height: var(--base-line-height);
  color: var(--par-text-color);
  background-color: var(--angle-color);
}

.content-section__gallery-container {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  gap: 10px;
}

.content-section__gallery-item {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

.footer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-block-size: 100vh;
  margin-top: 40px;
  padding: 10px;
}

.footer__title {
  display: flex;
  align-items: center;
  height: 100%;
  margin-left: 0;
  margin-top: 0;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  line-height: 0.83;
  color: var(--header__title-color);
  text-shadow: 4px 4px 0 var(--angle-color);
}

@media (width>=768px) {
  .header {
    padding: 20px;
  }

  .header__title {
    margin-left: -20px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__description {
    max-inline-size: 364px;
    max-block-size: 117px;
  }

  .header_decorated::before,
  .footer_decorated::before {
    margin: 20px;
  }

  .header_decorated::after,
  .footer_decorated::after {
    margin: 20px;
  }

  .header__rec-indicator {
    margin: 20px;
  }

  .content-section {
    margin: 0 20px;
  }

  .content-section_intro {
    display: grid;
    grid-template-columns: 33% 67%;
    margin-top: 20px;
    padding-inline-end: 20px;
    gap: 20px;
  }

  .content-section_intro .content-section__article {
    grid-column: 2;
  }

  .content-section_distractions {
    display: grid;
    grid-template-columns: 33% 67%;
    margin-top: 40px;
    padding-inline-end: 20px;
    gap: 20px;
  }

  .content-section_distractions .content-section__title {
    grid-column: 1;
  }

  .content-section_distractions .content-section__article {
    grid-column: 1/3;
  }

  .content-section_advice {
    display: grid;
    grid-template-columns: 33% 67%;
    margin-top: 40px;
    padding-inline-end: 20px;
    gap: 20px;
  }

  .content-section_advice .content-section__article {
    grid-column: 2;
  }

  .content-section_gallery {
    margin-top: 40px;
  }

  .content-section__gallery-container {
    display: grid;
    grid-template-areas: inherit;
    gap: 20px;
    margin-top: 10px;
  }

  .content-section__gallery-item {
    margin: 0;
  }

  .content-section__gallery-item:first-of-type {
    grid-column: 1/3;
  }

  .content-section__gallery-item:nth-of-type(2) {
    grid-column: 3/4;
    grid-row: 1/3;
  }

  .content-section__gallery-item:nth-of-type(3) {
    grid-row: 2/4;
  }

  .content-section__gallery-item:nth-of-type(4) {
    grid-column: 2/3;
    grid-row: 2/3;
  }

  .content-section__gallery-item:last-of-type {
    grid-column: 2/4;
  }

  .footer {
    margin-top: 60px;
  }
}

@media (width>=1024px) {
  .header__theme-menu {
    display: flex;
    flex-direction: column;
    align-self: start;
    justify-self: center;
    height: auto;
    margin-top: 0;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 10px;
  }

  .header__description {
    max-inline-size: 491px;
    max-block-size: 71px;
  }

  .content-section {
    margin: 0 20px;
  }

  .content-section_intro {
    display: grid;
    grid-template-columns: 33% 67%;
    row-gap: 20px;
    column-gap: 26px;
    margin-top: 20px;
    margin-right: 25px;
    padding-inline-end: 20px;
  }

  .content-section_distractions {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 40px;
    padding-inline-end: 0;
    gap: 20px;
  }

  .content-section_distractions .content-section__title {
    grid-column: 1/4;
    inline-size: 33%;
  }

  .content-section_distractions .content-section__article {
    grid-column: auto;
  }

  .content-section_advice {
    display: grid;
    grid-template-columns: 33% 67%;
    row-gap: 20px;
    column-gap: 26px;
    margin-top: 40px;
    margin-right: 25px;
    padding-inline-end: 20px;
  }

  .content-section_gallery {
    margin-top: 40px;
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}
